.card {
  color: white;
  background-color: #1f1f27;
  padding: 1.5rem;
  width: 150px;
  border-radius: 8px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.name {
  flex: 2;
}

.imgDiv {
  background-color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.productImg {
  width: 100px;
  height: 100px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  width: 100%;
  background-color: white;
  border: none;
  padding: 8px;
}
